@import url('https://fonts.googleapis.com/css2?family=latowght@400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

nav {
  background-color: #0c0c0c;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px 12px 30px;
}

nav .left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav .left-nav img {
  width: 50px;
  border: 1px solid white;
  border-radius: 100%;
}

nav .left-nav p {
  color: #339eff;
  font-weight: 900;
  font-size: 30px;
}

.right-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon {
  border: 1px solid;
  background-color: white;
  border-radius: 100%;
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.icon .fa-user {
  font-size: 20px;

}

.right-icon .fa-bell {
  font-size: 30px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  padding: 10px 20px 10px 20px;
  width: 185px;
  height: 100px;
  z-index: 1;
  top: 12%;
  background-color: #D9D9D9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  transform: translateX(-40px) translateY(-40px);
  border-radius: 5px;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;

  text-align: right;
  padding: 0;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  font-weight: 700;
}

.dropdown-menu a:hover {
  color: #004385;
}

.image-preview {

  width: 200px;
  height: 170px;
  left: 330px;
  top: 90px;
  background: white;
  border-radius: 5px;
}

.container {

  padding: 50px 100px 50px 100px;


}

.container-box {
  padding: 20px;

}

.edit {
  display: grid;
  grid-template-columns: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  background-color: #0C0C0C;
  border-radius: 30px;


}

.left-side {
  display: flex;
  flex-direction: column;

  height: 490px;

  border-radius: 20px 0 0 20px;
  width: 50%;

}

.left-side .admin-profile {
  background-color: #004385;
  display: flex;
  font-size: 20px;
  color: white;
  justify-content: center;
  padding: 10px;
  border-radius: 0px 30px 0px 0px;
}

.left-side .adminprof {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side .userid-box {
  
   
  color: white;
  font-size: 12px;
  display: flex;
  padding: 5px;
   
  align-items: center;

}

.left-side a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.left-side button {
  background-color: #004385;
  outline: none;
  border: none;
  margin-top: 10px;
  color: white;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}



.userid-box h2 {
  font-weight: 500;
  padding-left: 10px;
}

.right-side {
  border-radius: 0 20px 20px 0;
  width: 100%;
  height: 490px;
  display: flex;

  flex-direction: column;
  font-size: 17px;

}

.right-side .admininfo {
  padding: 40px;
}

.right-side .admin-header {
  background-color: #004385;
  display: flex;
  font-size: 20px;
  color: white;
  justify-content: center;
  padding: 10px;
  border-radius: 30px 0px 0px 0px;
}

.right-side h3 {
  padding-right: 10px;
}

.right-side .name,
.right-side .position,
.right-side .status,
.right-side .contact,
.right-side .address,
.right-side .password {
  display: flex;
  padding: 5px;
  color: white;
  align-items: center;
  
}


input[type=text],
input[type=password] {
  width: 100%;
  padding: 10px 20px 10px 20px;
 
  outline: none;
  border: none;

}

.right-side .checkbox {
  color: white;
  font-weight: 600;
  padding-left: 205px;
   
  display: flex;
  align-items: center;
  font-size: 15px;
}

.checkbox span {
  padding-left: 3px;
}

#mypreview {

  width: 100%;
  height: 240px;

  background-color: #ffff;
  border-radius: 5px;
}

.file-upload {
  margin-top: 6px;
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 14px;
  background-color: #f9f9f9;
  border-radius: 4px;
}
.adID,.fname,.pos,.stat,.con,.em,.pas{
   
  width: 250px;
}
@media only screen and (max-width: 1100px) {
  .edit {
    display: grid;
    grid-template-columns: auto;


  }

  .container {
    padding: 0;
  }

  .left-side,
  .right-side {
    width: 100%;
    height: 100%;
  }

}